.about:before{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 465px;
    height: 502px;
    background: url(../../img/friends.png) center center / cover no-repeat;
}

.about::before, .about__desc{
    display: inline-block;
    vertical-align: top;
}

.about__desc{
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    padding: 70px 80px;
    width: 785px;
    height: 455px;
    margin-left: -120px;
    margin-top: 95px;
    border-radius: 5px; 
    margin-bottom: 70px;
}

.about__title{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 37px;
}

.about__desc-text{
    margin-bottom: 60px;
    padding-right: 123px;
    line-height: 27px;
}

.about__desc-text p{
    margin-bottom: 20px;
}

.about__desc-text p:last-child{
    margin-bottom: 0;
}