.inner-section {
    background: #fff;
    color: #1A1B1E;
    padding: 88px 0;
}

.inner-section--bg--grey {
    background: #F4F5F5;
    margin-top: -38px;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 58px;
}

