.top-line {
    min-height: 394px;
    background: #17191C;
    display: flex;
    flex-direction: column;
    background: url('../../img/smilepeople.png') right top no-repeat;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}